client_id = "6d807bf0201e5a3acbec919a27ccfe62"
name = "revenue-boost"
application_url = "https://localhost:3000"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

[[webhooks.subscriptions]]
topics = [ "app/uninstalled" ]
uri = "/webhooks/app/uninstalled"

[[webhooks.subscriptions]]
topics = [ "app/scopes_update" ]
uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_customers,write_customers,read_discounts,write_discounts,write_products,read_themes,write_files,shopify.app.toml"

[auth]
redirect_urls = [ "https://localhost:3000/api/auth" ]

[app_proxy]
url = "https://localhost:3000"
subpath = "revenue-boost"
prefix = "apps"
